@import url(/style.css);

h2 {
    flex-basis: 100%;
    margin: 15px 0px;
    color: var(--primary-color);
    font-size: 20pt;
}

section {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    gap: 40px;
}

.content img {
    border-radius: 20px;
    max-width: 100%;
}

.content p {
    margin-top: 10px;
    font-size: 10pt;
    text-align: justify;
}

@media (min-width: 769px) {

    .content {
        width: 34%;
    }
}

@media (max-width: 769px) {

    h2 {
        text-align: center;
    }

    section {
        align-items: center;
    }

    .content p {
        font-size: 8pt;
    }

    .content {
        width: 90%;
    }
}