@import url(/style.css);

section {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
section h2 {
    flex-basis: 100%;
    margin-bottom: 10px;
    color: var(--primary-color);
    font-size: 20pt;
}
.content {
    flex: 1 1 45%;
}
.content img {
    max-width: 90%;
    border-radius: 20px;
}
.content p {
    margin-top: 10px;
    font-size: 10pt;
    width: 500px;
    text-align: justify;
}
